<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="keywords" content="冥想,编程,外语,金融,人工智能">
      <meta name="description" content="分享一个冥想练习多年和互联网从业者的市面上罕见的生活经验和习惯，帮有缘人更加幸福健康地成长。">
      <meta name="author" content="">
      <title>何以愚-一个让你轻松成长的地方</title>
{% load static %}
      <link rel="icon" href="{% static 'mysite/img/redmoon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'mysite/img/redmoon.ico' %}" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
     <link href="{% static 'mysite/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'mysite/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'mysite/css/clean-blog.min.css' %}" rel="stylesheet">
	<style>
	.mx-auto h4{font-weight: 700;}
	.mx-auto p{font-size:1rem;}
	</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e1fd6a690a98a8c65e9647260a2df3e1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">何以愚</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          导航
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">首页</a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="life.html">生活</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="think.html">思维</a>#}
{#            </li>#}
{#			<li class="nav-item">#}
{#              <a class="nav-link" href="hobby.html">兴趣</a>#}
{#            </li>#}
            <li class="nav-item">
              <a class="nav-link" href="/about/">关于我</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'mysite/img/8.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <div class="page-heading">
              <!-- <h1>About Me</h1>-->
              <span class="subheading">别管我是谁！</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">

            <p>用身心透支的方式努力奋斗的人太多，极少人知道身心安宁、健康的方式才是最高效、最持久的奋斗法宝，更极少人知道怎么获得这种能力。</p>


            <p>社会上打拼的我们，都是几十亿中非常普通的个体，深深体验社会丛林的艰辛和困扰，有时感慨自身的微弱。</p>


            <p>但这是现实，为啥我们不身心放松些，看透些思想，发现有趣的事情，过好仅有一次的人生呢？</p>

        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
{#            <ul class="list-inline text-center">#}
{#              <li class="list-inline-item">#}
{#                <a href="#">#}
{#                  <span class="fa-stack fa-lg">#}
{#                    <i class="fas fa-circle fa-stack-2x"></i>#}
{#                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>#}
{#                  </span>#}
{#                </a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="#">#}
{#                  <span class="fa-stack fa-lg">#}
{#                    <i class="fas fa-circle fa-stack-2x"></i>#}
{#                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>#}
{#                  </span>#}
{#                </a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="#">#}
{#                  <span class="fa-stack fa-lg">#}
{#                    <i class="fas fa-circle fa-stack-2x"></i>#}
{#                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>#}
{#                  </span>#}
{#                </a>#}
{#              </li>#}
{#            </ul>#}
            <p class="copyright text-muted" style="font-size: 14px;">© 何以愚 2018-2019 粤ICP备18097511号</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'mysite/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mysite/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'mysite/js/clean-blog.min.js' %}"></script>

  </body>

</html>
