<!DOCTYPE html>
<html>

<head>
                <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://langlicun.com/static/mysite/css/uikit.min.css"/>
    <link href="https://langlicun.com/static/mysite/css/theme.css" rel="stylesheet">
    <script src="https://langlicun.com/static/mysite/js/uikit.min.js"></script>
    <script src="https://langlicun.com/static/mysite/js/uikit-icons.min.js"></script>
        <title>
            {{ note.nTitle }}
        </title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e1fd6a690a98a8c65e9647260a2df3e1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body class="detail-body">



        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-width-1-5@m" uk-grid></div>
            <div class="uk-width-3-5@m" uk-grid>
                <article class="uk-article">

                    <h1 class="uk-article-title"><a class="uk-link-reset" href=""> {{ note.nTitle }}</a></h1>

                    <p class="uk-article-meta">原创 <a href="#">何以愚</a> {{note.nCreateTime }}  <a href="https://langlicun.com" style="float: right;">返回首页</a></p>

                    <p class="uk-text-lead">
                        {% autoescape off %}
                                    {{ note.nContent }}
                                 {% endautoescape %}
                    </p>




                </article>
            </div>
            <div class="uk-width-1-5@m" uk-grid></div>
        </div>
    <script nonce="" type="text/javascript">
document.addEventListener("touchstart", function() {},false);
        </script>


</body>

</html>